@page "/KeyTest"

<h3>KeyTester</h3>

<section class="mPic-dbnce">
    <!--image of mouse-->
    <img height="75%" src="data:image/jpeg;base64,@b64Mouse1" />
    <img height="80%" src="data:image/jpeg;base64,@b64Mouse2" />
</section>


@code {
    public static string GetBase64ImageString(string imagePath)
    {
        // Read the file into a byte array
        byte[] imageBytes;
        using (FileStream fileStream = new FileStream(imagePath, FileMode.Open, FileAccess.Read))
        {
            using (BinaryReader binaryReader = new BinaryReader(fileStream))
            {
                imageBytes = binaryReader.ReadBytes((int)fileStream.Length);
            }
        }

        // Convert byte array to Base64 string
        return Convert.ToBase64String(imageBytes);
    }
    static readonly string userImgLoc1 = Environment.GetFolderPath(Environment.SpecialFolder.UserProfile) + "\\source\\repos\\AmbiMod\\Modulify\\wwwroot\\mouseasset.png";
    static readonly string userImgLoc2 = Environment.GetFolderPath(Environment.SpecialFolder.UserProfile) + "\\source\\repos\\AmbiMod\\Modulify\\wwwroot\\mouseasset2.png";

    string b64Mouse1 = GetBase64ImageString(userImgLoc1);
    string b64Mouse2 = GetBase64ImageString(userImgLoc2);
}
