@using System.IO;
@inject ISerialCommsManager SerialCommsManager
@page "/Profile3"

<h3>Profiles</h3>

<h3>Key Configuration - Profile 3</h3>

<main class="layoutcontainer">
    <section class="top-config">
        <section class="m1-sL-m4-m5">
            <!--section for Left Mouse Buttons (M1,M3, ScWheel Left)-->
            <p>Left Mouse Button&nbsp;<input type="text" placeholder="M1" value="@keybinds["M1"]"></p>
            <p>Scroll Wheel Left&nbsp;<input type="text" placeholder="SWL" /></p>
            <div class="midalign"><p>Left Side Panel</p><span></span></div>
            <p>Side Mouse Button 1&nbsp;<input type="text" placeholder="M4" value="@keybinds["M4"]" /></p>
            <p>Side Mouse Button 2&nbsp;<input type="text" placeholder="M5" value="@keybinds["M5"]" /></p>
        </section>
        <section class="mPic-dbnce">
            <!--image of mouse, debounce delay textbox-->
            <img height="75%" src="data:image/jpeg;base64,@b64Mouse" />
            <p>Debounce Delay&nbsp;<input type="text" placeholder="50ms" /></p>
        </section>
        <section class="m2-sR-m3">
            <!--section for Right Mouse Buttons (M2, M3, ScWheel Right)-->
            <p>Right Mouse Button&nbsp;<input type="text" placeholder="M2" value="@keybinds["M2"]" /></p>
            <p>Scroll Wheel Right&nbsp;<input type="text" placeholder="SWR" /></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </section>
    </section>
    <section class="bot-config">
        <aside class="mod-detect">
            <!--module detection-->
            <strong>Detected Modules</strong>
            <p>Left Side Panel</p>
        </aside>
        <section class="dpi-scale">
            <!--DPI Slider-->
            <aside>DPI: @DPI &nbsp;</aside>
            <p>
                <input type="range" min="0" max="8000" step="1" @bind="DPI" @bind:event="oninput" />
            </p>
            <div class="slider-labels">
                <span>0</span>
                <span>400</span>
                <span>800</span>
                <span>1600</span>
                <span>5000</span>
                <span>8000</span>
            </div>
        </section>
    </section>

</main>

@code {
    private int sliderValue = 0;

    private string ProfileName = "";
    private int DPI = 0;

    private Dictionary<string, string> keybinds = new Dictionary<string, string>();


    Profiles curProfile;
    protected override void OnInitialized()
    {
        SerialCommsManager.OnMouseDetected += GetProfile;
        try
        {
            GetProfile();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"{ex.Message}");
        }
    }

    private void GetProfile()
    {
        curProfile = SerialCommsManager.MouseInstance.CurrentProfile;

        ProfileName = curProfile.ProfileName;
        DPI = Convert.ToInt32(curProfile.DPI);
        keybinds = curProfile.Keybinds;



    }
    public void Dispose()
    {
        SerialCommsManager.OnMouseDetected -= GetProfile;
    }
    public static string GetBase64ImageString(string imagePath)
    {
        // Read the file into a byte array
        byte[] imageBytes;
        using (FileStream fileStream = new FileStream(imagePath, FileMode.Open, FileAccess.Read))
        {
            using (BinaryReader binaryReader = new BinaryReader(fileStream))
            {
                imageBytes = binaryReader.ReadBytes((int)fileStream.Length);
            }
        }

        // Convert byte array to Base64 string
        return Convert.ToBase64String(imageBytes);
    }
    static readonly string userImgLoc = Environment.GetFolderPath(Environment.SpecialFolder.UserProfile) + "\\source\\repos\\AmbiMod\\Modulify\\wwwroot\\mouseasset.png";


    string b64Mouse = GetBase64ImageString(userImgLoc);
}
